// ############################# CARRUSEL #######################################
	
#gallery-modal .modal-img{
    width: 100%;
    
}

/* CARRUSEL */

#carouselExampleCaptions{
    h1{
        font-size: 5vw;
    } 

    p{
        font-size: 1.70vw;
    }
}

// ##############################################################################