// ############################# CARRUSEL #######################################
	
#gallery-modal .modal-img{
    width: 100%;
  }

/* CARRUSEL */

#carouselExampleCaptions{
    .galeriaH1{
        font-size: 4vw;
        color: rgb(243, 241, 243);
        // background-color: rgba(204, 17, 142, 0.618);
        background-color: rgba(46, 9, 34, 0.618);
        display: inline;
        padding: 0 1vw;
        padding-bottom: 7px;
        border-radius: 10px;
        border: 2px solid  rgb(146, 146, 146);
    }
    
    .galeriaP{
        margin-top: 20px;
        padding: 15px 15px;
        border-radius: 10px;
        border: 2px solid  rgb(146, 146, 146);
        font-size: 1.70vw;
        color: rgb(240, 237, 241);
        background-color: rgba(46, 9, 34, 0.618);
        text-align: left;
    }
}




// ##############################################################################

// RESPONSIVE

$breakpoints: (
    
    sm : 540px,
    md : 768px,
    lg : 1024px,
    xl: 1250px,
    );

@mixin media-up ($breakpoint) {
    @media screen and  (min-width: map-get($breakpoints, $breakpoint)) {
        @content;
    }
}


.respoonCarru img{
    background-size: cover;
   

    @include media-up(md) {
        height: 100%;
        width: 100%;
        transition: all 400ms ease;
    }

    @include media-up(lg) {
        height: 100%;
        width: 100%;
        transition: all 400ms ease;
    }

    @include media-up(xl) {
        height: 100%;
        width: 100%;
        transition: all 400ms ease;
    }
}