// ############################## CONTACTENOS ###################################

#contactenos {
	position: relative;

	iframe{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	  }

	  form{
		padding: 60px;
		background-color: rgba(122, 6, 122, 0.377);

		.form-block{
			width: 100%;
			margin-bottom: 15px;

			textarea {
				display: block;
				height: 100px;
				font-size: 16px;
				border: 2px solid grey;
				width: 100%;
				padding: 5px 10px;
			}
		}
	}
	.contenedor{
		width: 100%;
		margin: 0 auto;
		padding-left: 5px;
		padding-right: 5px;
		position: relative;

		.filas{
			display: flex;
			margin-left: 15px;
			margin-right: 15px;
			padding-top: 0px;
			padding-bottom: 30px;

			.columna {
				padding-right: 15px;
				padding-left: 15px;
			}
			
			.columna-50{
				width: 50%;
			}
			.mover-50{
				margin-left: 50%;
			}
		}
	}
}