footer {
    
    %ico {
        font-size: 1.7rem;
        text-align: center;
        padding: 5px 0;
        margin: 2px auto;
        border-radius: 2px;
        color: #FFFFFF;
      }
      
      .ico_youtube {
        @extend %ico;
        color: rgba(247, 11, 11, 0.664);
      }
      .ico_facebook {
        @extend %ico;
        color: #4267B2;
      }
      .ico_twitter {
        @extend %ico;
        color: #00acee;
      }

      .ico_google {
        @extend %ico;
        color: #FBBC05;
      }

      .ico_linkedin {
        @extend %ico;
        color: #86888a;
      }
}
    
   
        
