$blanco:white;

$breakpoints: (
    
    sm : 425px,
    md : 768px,
    lg : 1024px,
    xl: 1250px
    );

@mixin media-up ($breakpoint) {
    @media screen and  (min-width: map-get($breakpoints, $breakpoint)) {
        @content;
    }
}



.gallery{
     background-color: $blanco;
     padding: 80px 0;

     h3 {
         color: rgb(107, 107, 107);
         font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
         
         
     }

     .contenedorGaleria{
         @each $trabajo in imagen1, imagen2, imagen3, imagen4, imagen6 {
             .imgGaleria#{$trabajo} {
               background-image: url(/img/#{$trabajo}.jpg);
               height: 300px;
               width: 357px;
              
               margin: 10px 10px;
               border: 4px solid rgba(138, 138, 138, 0.624);
               border-radius: 10px;
               background-size: cover;
               box-shadow: 0 0 15px rgba(0,0,0,0.3);

             

               @include media-up(sm) {
                height: 300px;
                width: 405px;
                transition: all 400ms ease;
               }
               @include media-up(md) {
               
                height: 290px;
                width: 339px;
                transition: all 400ms ease;
                }
               @include media-up(lg) {
                height: 250px;
                width: 299px;
                transition: all 400ms ease;
            }
            
            @include media-up(xl) {
                height: 270px;
                width: 420px;
                transition: all 400ms ease;
            }
                             
            }
         }
     }
 }     
