// ############################# GALERIA  #######################################
$colorPurpuraClaro: rgba(58, 11, 119, 0.453);
$blanco:white;

.gallery{
     background-color: $blanco;
     padding: 80px 0;
     .contenedorGaleria{
         @each $trabajo in imagen1, imagen2, imagen3, imagen4, imagen6 {
             .imgGaleria#{$trabajo} {
               background-image: url(/img/#{$trabajo}.jpg);
               height: 300px;
               width: 399px;
              
               margin: 10px 10px;
               border: 4px solid rgba(138, 138, 138, 0.624);
               border-radius: 10px;
               background-size: cover;
               box-shadow: 0 0 15px rgba(0,0,0,0.3);
                  
            }
         }
     }
 }     
