
// ###################### HEADER -NAV ##########################################
nav{
	background-color: rgb(56, 8, 78);
		.logoBorde{
			width: 200px;
			margin: 10px;
			border-radius: 40px 10px 20px 0;
			border: solid 5px rgb(122, 6, 122);
		}

		.NavA a {
			font-size: 25px;
			color: white;
		}

		.navegador {
			background-color: rgba(243, 241, 241, 0.542);
		}


		.navegador li a{
			color: black;
			background-color: transparent;
		}
}

// ###############################################################################