
// ###################### HEADER -NAV ##########################################
// RESPONSIVE
$breakpoints: (

	xs : 375px,
	sm : 425px,
    md : 768px,
    lg : 1024px,
    xl:  1250px,
  );




nav{

	background-color: rgb(56, 8, 78);
		.logoBorde{
			width: 120px;
			margin: 10px;
			border-radius: 20px 0 20px 0;
			border: solid 5px rgb(122, 6, 122);
		}

		.NavA a {
			color: white;
			
		}

		.navegador {
			background-color: rgba(15, 5, 20, 0.541);
		}

		.navegador li a{
			color: white;
		}

		
}





// ###############################################################################