// ############################# SERVICIOS #######################################

#servicios {

    width: 100%;
    background-color: rgb(56, 8, 78);
    color: white;

           
        .card{
            background-color: rgba(129, 66, 211, 0.453);
            border: 3px solid rgb(240, 239, 241);
            border-radius: 20px 0 20px 0;
            color: antiquewhite;
            
            .contactenos-check label{
                color: white;
            }


            p{
                margin: 0 15px;
                font-size: 1.4vw;
              
            }


            img {
                border-radius: 20px 0 0 0;
            }
        }

        .contenedorServicios{
            width: 100%;
            background-color: rgb(56, 8, 78);
          }		  

        .card-tittle{
            width: 100%;	
        }
    
        .mRow {
            padding: 30px 0;
            margin-left: 1px;
            width: 100%;
        }
    
}


// ###############################################################################