@import "nav";
@import "carrusel";
@import "servicios";
@import "galeria";
@import "contactenos";
@import "paginas";
@import "mediaQ";
@import "footer";

$colorPurpuraOscuro:rgb(56, 8, 78);

*{
	margin: 0;
	padding: 0;
	box-sizing: boder-box;
		
}
.textoJustificado{
	text-align: justify;
}

.colorTextVioleta {
	color: rgba(204, 102, 248, 0.678);
}

.colorTextGris{
	color: gray;
}

img{
	max-width: 100%;
}









