@import "nav";
@import "carrusel";
@import "servicios";
@import "galeria";
@import "contactenos";
@import "paginas";
@import "mediaQ";

$colorPurpuraOscuro:rgb(56, 8, 78);

*{
	margin: 0;
	padding: 0;
	box-sizing: boder-box;
	
	
}
img{
	max-width: 100%;
}







